*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.form-inline{
   margin-left: 75%;
   margin-top: 22px;
}
.mr-sm-2{
    padding: 11px 52px;
}
.btn{
    padding: 11px 22px;
    color: #fff;
    background-color: black;
}
.form-control{
    margin-left: 30%;
    margin-top: 2%;
    padding: 1% 1%;
}
.card-title{
    text-align: center;
    font-size: 32px;
    margin-top: 35px;
}
.bt{
    margin-left: 47%;
    padding: 1%;
    margin-top: 1%;
    background-color: black;
    color: white;
}
.text-center{
    text-align: center;
    font-size: 40px;
    padding: 2%;
}
.text-muted{
    margin-left: 29%;
    font-size: 25px;
}
.bn{
    margin-left: 46%;
    padding: 1% 3%;
    border-radius: 22%;
    margin-top: 1%;
    background-color: green;
    color: white;
}
.card-text{
    text-align: center;
    font-size: 30px;
    border: 1px solid black;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 2%;
    padding: 2%;
}
@media (max-width: 1250px){
    .form-inline{
        margin-left: 67%;
    }
    .form-control{
        margin-left: 25%;
    }
    .text-muted{
        margin-left: 22%;
    }
}

@media (max-width: 900px){
    .form-inline{
        margin-left: 33%;
    }
    .form-control{
        margin-left: 17%;
    }
    .bn{
        margin-left: 45%;
    }
    .text-muted{
        margin-left: 14%;
    }
}

@media (max-width: 500px){
    .form-inline{
        margin-left: 13%;
    }
    .form-control{
        margin-left: 1%;
    }
    .bn{
        margin-left: 45%;
    }
    .bt{
        margin-left: 45%;
    }
    .text-muted{
        margin-left: 25px;
        font-size: 17px;
    }
}